In [1]:
import pandas as pd
import json

In [50]:
# Batting Score Path
json_path="json/match_summary.json"

with open(json_path) as f:
    data = json.load(f)

df_match=pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721

In [11]:
# Dimension
df_match.shape

(52, 7)

In [51]:
# Rename column
df_match.rename({'match_id':'scorecard'}, axis = 1,inplace=True)
df_match.head()
df_match.rename({'scorecard':'match_id'},axis = 1,inplace =True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721

In [52]:
# match_id (combinning two tables)

match_ids_dict = {}

for index,row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']

    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

print(match_ids_dict)

{'India Vs South Africa': 'T20I # 2729', 'South Africa Vs India': 'T20I # 2729', 'England Vs India': 'T20I # 2724', 'India Vs England': 'T20I # 2724', 'Afghanistan Vs South Africa': 'T20I # 2723', 'South Africa Vs Afghanistan': 'T20I # 2723', 'Afghanistan Vs Bangladesh': 'T20I # 2722', 'Bangladesh Vs Afghanistan': 'T20I # 2722', 'Australia Vs India': 'T20I # 2721', 'India Vs Australia': 'T20I # 2721', 'West Indies Vs South Africa': 'T20I # 2720', 'South Africa Vs West Indies': 'T20I # 2720', 'England Vs U.S.A.': 'T20I # 2719', 'U.S.A. Vs England': 'T20I # 2719', 'Afghanistan Vs Australia': 'T20I # 2717', 'Australia Vs Afghanistan': 'T20I # 2717', 'Bangladesh Vs India': 'T20I # 2716', 'India Vs Bangladesh': 'T20I # 2716', 'West Indies Vs U.S.A.': 'T20I # 2713', 'U.S.A. Vs West Indies': 'T20I # 2713', 'England Vs South Africa': 'T20I # 2712', 'South Africa Vs England': 'T20I # 2712', 'Australia Vs Bangladesh': 'T20I # 2711', 'Bangladesh Vs Australia': 'T20I # 2711', 'Afghanistan Vs India': 'T20I # 2710', 'India Vs Afghanistan': 'T20I # 2710', 'West Indies Vs England': 'T20I # 2709', 'England Vs West Indies': 'T20I # 2709', 'South Africa Vs U.S.A.': 'T20I # 2708', 'U.S.A. Vs South Africa': 'T20I # 2708', 'West Indies Vs Afghanistan': 'T20I # 2703', 'Afghanistan Vs West Indies': 'T20I # 2703', 'New Zealand Vs P.N.G.': 'T20I # 2702', 'P.N.G. Vs New Zealand': 'T20I # 2702', 'Netherlands Vs Sri Lanka': 'T20I # 2699', 'Sri Lanka Vs Netherlands': 'T20I # 2699', 'Bangladesh Vs Nepal': 'T20I # 2698', 'Nepal Vs Bangladesh': 'T20I # 2698', 'Ireland Vs Pakistan': 'T20I # 2697', 'Pakistan Vs Ireland': 'T20I # 2697', 'Australia Vs Scotland': 'T20I # 2689', 'Scotland Vs Australia': 'T20I # 2689', 'England Vs Namibia': 'T20I # 2688', 'Namibia Vs England': 'T20I # 2688', 'New Zealand Vs Uganda': 'T20I # 2682', 'Uganda Vs New Zealand': 'T20I # 2682', 'Nepal Vs South Africa': 'T20I # 2681', 'South Africa Vs Nepal': 'T20I # 2681', 'Afghanistan Vs P.N.G.': 'T20I # 2679', 'P.N.G. Vs Afghanistan': 'T20I # 2679', 'England Vs Oman': 'T20I # 2678', 'Oman Vs England': 'T20I # 2678', 'Bangladesh Vs Netherlands': 'T20I # 2677', 'Netherlands Vs Bangladesh': 'T20I # 2677', 'West Indies Vs New Zealand': 'T20I # 2672', 'New Zealand Vs West Indies': 'T20I # 2672', 'U.S.A. Vs India': 'T20I # 2671', 'India Vs U.S.A.': 'T20I # 2671', 'Australia Vs Namibia': 'T20I # 2666', 'Namibia Vs Australia': 'T20I # 2666', 'Canada Vs Pakistan': 'T20I # 2665', 'Pakistan Vs Canada': 'T20I # 2665', 'Bangladesh Vs South Africa': 'T20I # 2664', 'South Africa Vs Bangladesh': 'T20I # 2664', 'Oman Vs Scotland': 'T20I # 2659', 'Scotland Vs Oman': 'T20I # 2659', 'India Vs Pakistan': 'T20I # 2658', 'Pakistan Vs India': 'T20I # 2658', 'West Indies Vs Uganda': 'T20I # 2651', 'Uganda Vs West Indies': 'T20I # 2651', 'Australia Vs England': 'T20I # 2650', 'England Vs Australia': 'T20I # 2650', 'Netherlands Vs South Africa': 'T20I # 2649', 'South Africa Vs Netherlands': 'T20I # 2649', 'Bangladesh Vs Sri Lanka': 'T20I # 2646', 'Sri Lanka Vs Bangladesh': 'T20I # 2646', 'Afghanistan Vs New Zealand': 'T20I # 2645', 'New Zealand Vs Afghanistan': 'T20I # 2645', 'Canada Vs Ireland': 'T20I # 2644', 'Ireland Vs Canada': 'T20I # 2644', 'Namibia Vs Scotland': 'T20I # 2643', 'Scotland Vs Namibia': 'T20I # 2643', 'U.S.A. Vs Pakistan': 'T20I # 2642', 'Pakistan Vs U.S.A.': 'T20I # 2642', 'Australia Vs Oman': 'T20I # 2641', 'Oman Vs Australia': 'T20I # 2641', 'P.N.G. Vs Uganda': 'T20I # 2640', 'Uganda Vs P.N.G.': 'T20I # 2640', 'India Vs Ireland': 'T20I # 2639', 'Ireland Vs India': 'T20I # 2639', 'Nepal Vs Netherlands': 'T20I # 2638', 'Netherlands Vs Nepal': 'T20I # 2638', 'England Vs Scotland': 'T20I # 2637', 'Scotland Vs England': 'T20I # 2637', 'Afghanistan Vs Uganda': 'T20I # 2636', 'Uganda Vs Afghanistan': 'T20I # 2636', 'South Africa Vs Sri Lanka': 'T20I # 2635', 'Sri Lanka Vs South Africa': 'T20I # 2635', 'Namibia Vs Oman': 'T20I # 2634', 'Oman Vs Namibia': 'T20I # 2634', 'West Indies Vs P.N.G.': 'T20I # 2633', 'P.N.G. Vs West Indies': 'T20I # 2633', 'U.S.A. Vs Canada': 'T20I # 2632', 'Canada Vs U.S.A.': 'T20I # 2632'}

In [ ]:
{
    "India vs South Africa":"T20I # 2729",
    "South Africa vs India":"T20I # 2729",
    "England vs India":" T20I # 2724",
    ....
}

### batting_summary

In [32]:
batting_path="json/batting_score.json"

with open(batting_path) as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['battingSummary'])
df_batting = pd.DataFrame(all_records)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,India Vs South Africa,India,1,Rohit Sharma (c),9,5,2,0,180,out,T20I # 2729
1,India Vs South Africa,India,2,Virat Kohli,76,59,6,2,128.81,out,T20I # 2729
2,India Vs South Africa,India,3,Rishabh Pant,0,2,0,0,0,out,T20I # 2729
3,India Vs South Africa,India,4,Suryakumar Yadav,3,4,0,0,75,out,T20I # 2729
4,India Vs South Africa,India,5,Axar Patel,47,31,1,4,151.61,out,T20I # 2729

In [35]:
# Rename Column
df_batting.rename({'out/not_out':'dismissal'},axis=1,inplace=True)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,dismissal,match_id
0,India Vs South Africa,India,1,Rohit Sharma (c),9,5,2,0,180,out,T20I # 2729
1,India Vs South Africa,India,2,Virat Kohli,76,59,6,2,128.81,out,T20I # 2729
2,India Vs South Africa,India,3,Rishabh Pant,0,2,0,0,0,out,T20I # 2729
3,India Vs South Africa,India,4,Suryakumar Yadav,3,4,0,0,75,out,T20I # 2729
4,India Vs South Africa,India,5,Axar Patel,47,31,1,4,151.61,out,T20I # 2729

In [38]:
# Create out/not_out column based on dismissal
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: "out" if len(x) > 0 else "not_out")
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,dismissal,match_id,out/not_out
0,India Vs South Africa,India,1,Rohit Sharma (c),9,5,2,0,180,out,T20I # 2729,out
1,India Vs South Africa,India,2,Virat Kohli,76,59,6,2,128.81,out,T20I # 2729,out
2,India Vs South Africa,India,3,Rishabh Pant,0,2,0,0,0,out,T20I # 2729,out
3,India Vs South Africa,India,4,Suryakumar Yadav,3,4,0,0,75,out,T20I # 2729,out
4,India Vs South Africa,India,5,Axar Patel,47,31,1,4,151.61,out,T20I # 2729,out

In [42]:
# Remove Column
df_batting.drop(columns={"dismissal"}, inplace = True)
df_batting.head(100)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,match_id,out/not_out
0,India Vs South Africa,India,1,Rohit Sharma (c),9,5,2,0,180,T20I # 2729,out
1,India Vs South Africa,India,2,Virat Kohli,76,59,6,2,128.81,T20I # 2729,out
2,India Vs South Africa,India,3,Rishabh Pant,0,2,0,0,0,T20I # 2729,out
3,India Vs South Africa,India,4,Suryakumar Yadav,3,4,0,0,75,T20I # 2729,out
4,India Vs South Africa,India,5,Axar Patel,47,31,1,4,151.61,T20I # 2729,out
...,...,...,...,...,...,...,...,...,...,...,...
95,West Indies Vs South Africa,West Indies,10,Gudakesh Motie,4,7,1,0,57.14,T20I # 2720,out
96,West Indies Vs South Africa,South Africa,1,Quinton de Kock,12,7,3,0,171.42,T20I # 2720,out
97,West Indies Vs South Africa,South Africa,2,Reeza Hendricks,0,1,0,0,0,T20I # 2720,out
98,West Indies Vs South Africa,South Africa,3,Aiden Markram (c),18,15,2,0,120,T20I # 2720,out
99,West Indies Vs South Africa,South Africa,4,Tristan Stubbs,29,27,4,0,107.4,T20I # 2720,out

In [46]:
# Replace any word
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('ae',''))
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,match_id,out/not_out
0,India Vs South Africa,India,1,Rohit Sharma (c),9,5,2,0,180,T20I # 2729,out
1,India Vs South Africa,India,2,Virat Kohli,76,59,6,2,128.81,T20I # 2729,out
2,India Vs South Africa,India,3,Rishabh Pant,0,2,0,0,0,T20I # 2729,out
3,India Vs South Africa,India,4,Suryakumar Yadav,3,4,0,0,75,T20I # 2729,out
4,India Vs South Africa,India,5,Axar Patel,47,31,1,4,151.61,T20I # 2729,out

In [48]:
df_batting.drop(columns="match_id",inplace=True)

In [49]:
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,India Vs South Africa,India,1,Rohit Sharma (c),9,5,2,0,180,out
1,India Vs South Africa,India,2,Virat Kohli,76,59,6,2,128.81,out
2,India Vs South Africa,India,3,Rishabh Pant,0,2,0,0,0,out
3,India Vs South Africa,India,4,Suryakumar Yadav,3,4,0,0,75,out
4,India Vs South Africa,India,5,Axar Patel,47,31,1,4,151.61,out

In [55]:
# adding match_id column into df_batting by match_ids_dict
df_batting["match_id"] = df_batting["match"].map(match_ids_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,India Vs South Africa,India,1,Rohit Sharma (c),9,5,2,0,180,out,T20I # 2729
1,India Vs South Africa,India,2,Virat Kohli,76,59,6,2,128.81,out,T20I # 2729
2,India Vs South Africa,India,3,Rishabh Pant,0,2,0,0,0,out,T20I # 2729
3,India Vs South Africa,India,4,Suryakumar Yadav,3,4,0,0,75,out,T20I # 2729
4,India Vs South Africa,India,5,Axar Patel,47,31,1,4,151.61,out,T20I # 2729